html {
	background: #00b796;
}

h1, h2, h3, h4, h5{
	color: #fe9601;
}

.instructions {
	border: 1px solid #79a3c1;
}

.codePane {
	height: auto;
	border: 0.3em solid #c91b26;
}

.live {
	display: inline-block;
	box-sizing: border-box;
}

.live h3{
	margin: 1em;
}

.live iframe{
	float: right;
	width: 100%;
	height: 30em;
	border: 0.3em solid #c91b26;
	border-bottom: none;
	overflow: hidden;
}

.codePane {
	background: #60047a;
}

.buttons {
	display: inline-block;
	text-align: center;
	margin-top: 1%;
}

button {
	background: #fe9601;

}